## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [27]:
data = {'國家': ['Taiwan', 'China', 'Japan', 'Usa', 'UK'],
        '人口': np.random.randint(100000000,size=5)}
data = pd.DataFrame(data = data)

In [28]:
print(data)

       國家        人口
0  Taiwan  83743683
1   China  59376493
2   Japan  26800561
3     Usa  45314604
4      UK  59661479

In [35]:
data.loc[data['人口'].idxmax()]

國家      Taiwan
人口    83743683
Name: 0, dtype: object

In [36]:
data.loc[data['人口'].idxmin()]

國家       Japan
人口    26800561
Name: 2, dtype: object

In [38]:
data.describe()

                 人口
count  5.000000e+00
mean   5.497936e+07
std    2.095290e+07
min    2.680056e+07
25%    4.531460e+07
50%    5.937649e+07
75%    5.966148e+07
max    8.374368e+07

### 方法二

In [40]:
country = ['Taiwan', 'China', 'Japan', 'Usa', 'UK']
population = np.random.randint(100000000,size=5)

list_labels = ['country', 'population']
list_cols = [country, population]

data2_zipped = list(zip(list_labels, list_cols))

In [41]:
data_2 = pd.DataFrame(dict(data2_zipped))
print(data_2)

  country  population
0  Taiwan    32935862
1   China    92965453
2   Japan    82488490
3     Usa     7388222
4      UK    18602252